body {
  font-size: $fontSize;
  background-color: $backgroundColor;
}

.messages {
  border: black 0.15rem solid;
  margin: $smallMargin 0;
  padding: $smallPadding $smallPadding 0 $smallPadding;;
  border-radius: $borderRadius;

  .alert-heading {
    font-size: 1rem;
  }

  .message-content {
    font-size: 0.8rem;

    .sub-title {
      font-weight: bold;
    }
  }
}

.main-content {
  margin: $smallMargin 0 0 0;

  .action-buttons {
    margin: 0 $smallMargin;
  }
}
