body {
  font-size: $fontSize;
  background-color: $backgroundColor;
}

.messages {
  border: black 0.15rem dashed;
  margin: $smallMargin 0;
  padding: $smallPadding $smallPadding 0 $smallPadding;
  border-radius: $borderRadius;
  overflow-y: scroll;
  max-height: 80vh;

  .alert {
    padding: $smallPadding;

    &:hover {
      box-shadow: 0.25rem 1rem 0.5rem -1rem hsla(0, 0%, 0%, 0.3);
    }

    .close {
      padding: $smallPadding $smallPadding 0 0;
    }

    .alert-heading {
      font-size: 1rem;
    }

    .alert-content {
      font-size: 0.8rem;

      .sub-title {
        font-weight: bold;
      }
    }
  }
}

.main-content {
  margin: $smallMargin 0 0 0;

  .spinner {
    text-align: center;
  }

  .note-form {
    border: black 0.15rem dashed;
    transition: all 0.5s ease;
    margin: $smallMargin 0;
    padding: $smallPadding $smallPadding 0 $smallPadding;
    box-shadow: 2rem 3rem 3rem -2.5rem hsla(0, 0%, 0%, 0.2);
    border-radius: $borderRadius;

    &:hover {
      box-shadow: 0.25rem 1rem 0.5rem -1rem hsla(0, 0%, 0%, 0.3);
    }
  }

  .action-buttons {
    margin-right: $smallMargin;
  }
}
