$fontSize: 1rem;
$backgroundColor: #ffffff;

$smallMargin: 0.5rem;
$mediumMargin: 1.0rem;

$smallPadding: 0.5rem;
$mediumPadding: 1rem;

$borderRadius: 1rem;

$boxShadowHover: 0.25rem 1rem 0.5rem -1rem hsla(0, 0%, 0%, 0.3);